.site-content-block {}
.container {
    width: 100%;
    max-width: calc(var(--page-max-width) + (var(--page-safe-area-horizontal) * 2));
    min-width: calc(var(--page-min-width) + (var(--page-safe-area-horizontal) * 2));
    margin: 0 auto;

    &.safe-area {
        padding: 0 var(--page-safe-area-horizontal);
    }
}
.content {}
