.block-about-us {
    scroll-margin-top: -50px;

    @include tablet {
        scroll-margin-top: -30px;
    }

    @include mobile {
        scroll-margin-top: 50px;
    }
}

$change-video-view-breakpoint: 1050px;
.content {
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 40px 0;
    gap: 30px;

    @include media-max($change-video-view-breakpoint) {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-rows: min-content min-content;
    }
}
.header-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    max-width: 720px;
}
.header-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    aspect-ratio: 1 / 0.56;

    @include media-max($change-video-view-breakpoint) {
        width: 100%;
        display: flex;
        justify-content: center;
        aspect-ratio: 1/0.36;
    }
}
.image {
    height: 100%;
    object-fit: cover;
    filter: blur(2px);

    @include media-max($change-video-view-breakpoint) {
        width: 100%;
        object-position: bottom;
    }
}
.title {
    @include text-h2();
    margin: 0;
    text-transform: uppercase;
    color: var(--base-dark);
}
.subtitle {
    margin: 0;
    color: var(--base-dark);
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;

    @include mobile {
        font-size: 24px;
        line-height: 30px;
    }
}
.description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--base-dark);

    @include mobile {
        font-size: 17px;
        line-height: 22px;
    }
    @include media-min-max($screen-mobile, 810px) {
        font-size: 15px;
        line-height: 24px;
    }
}
.button-play {
    position: absolute;
}

.background {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
    }
}
