.index-page {
    position: relative;
    padding-bottom: 120px;

    @include mobile {
        padding: 12px 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;

    @include mobile {
        gap: 60px;
    }
}

.top-test {
    position: absolute;
    width: 100%;
    height: 720px;
    top: 380px;
    background-color: #e9e1c9;
    z-index: -1;

    @include mobile {
        top: 310px;
        height: 910px;
    }
}

