:root {
    --page-max-width: 1204px;
    --page-min-width: 300px;
    --page-safe-area-horizontal: 20px;

    /* COLORS */
    --base-white: #ffffff;
    --base-akcent: #998f6f;
    --base-dark: #333027;
    --base-grey: #a7a398;
    --base-bg: #fefcf4;
    --yellow: #FEF6CE;
    --rose: #F8E4F0;
    --green: #D0DFD2;
    --blue: #DDEDFF;
    --grey: #EFEFEF;

    --header-height-mobile: 68px;
    --header-height-desktop: 86px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*height: 100vh;*/
    /*background-color: red;*/
    background-color: var(--base-bg);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
