:root {
    --page-max-width: 1204px;
    --page-min-width: 300px;
    --page-safe-area-horizontal: 20px;

    /* COLORS */
    --base-white: #ffffff;
    --base-akcent: #998f6f;
    --base-dark: #333027;
    --base-grey: #a7a398;
    --base-bg: #fefcf4;
    --yellow: #fef6ce;
    --rose: #f8e4f0;
    --green: #d0dfd2;
    --blue: #ddedff;
    --grey: #efefef;

    --header-height-mobile: 68px;
    --header-height-desktop: 86px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--base-bg);
    @include font-cormorant();
    @include text-body();
}
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}
