:root {
    --page-max-width: 1204px;
    --page-min-width: 300px;
    --page-safe-area-horizontal: 20px;

    /* COLORS */
    --base-white: #ffffff;
    --base-akcent: #998f6f;
    --base-dark: #333027;
    --base-grey: #a7a398;
    --base-bg: #fefcf4;
    --yellow: #fef6ce;
    --rose: #f8e4f0;
    --green: #d0dfd2;
    --blue: #ddedff;
    --grey: #efefef;

    --header-height-mobile: 68px;
    --header-height-desktop: 86px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--base-bg);
    @include font-cormorant();
    @include text-body();
}
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

.yellow {
    background: var(--yellow);
}
.rose {
    background: var(--rose);
}
.green {
    background: var(--green);
}
.grey {
    background: var(--grey);
}
.blue {
    background: var(--blue);
}

.f-carousel {
    margin: 0 auto;
}

.f-carousel__slide {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;

    @include desktop {
        width: 33% !important;
        height: 350px !important;
        padding: 0 2px !important;

        img {
            height: 100% !important;
            object-fit: cover;
        }
    }
}

.f-carousel__slide img {
    width: 100% !important;
    height: auto;
}

.f-thumbs.f-carousel__thumbs.is-classic {
    .f-thumbs__slide {
        width: 33% !important;
        height: 100%;
        aspect-ratio: 1 / 1;
        background-color: #acacac30;
    }
}

.thumbTpl-button {
    border: none;
    background: transparent;
}

.terms-of-use__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.terms-of-use__block-title, .terms-of-use__content-title {
    margin: 0;
}
.terms-of-use__content {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}
.terms-of-use__content-item {
    display: inline-flex;
    flex-direction: row;
    gap: 4px;

    &::before {
        content: " - ";
        position: relative;
    }
}
