.block-company-rates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "block1 block2 order";
    gap: 20px;

    @include media-min-max($screen-tablet, 900px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "block1 block2" "order order";
    }
    @include mobile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "block1 block2" "order order";
    }
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "block1 block2" "order order";
    }
}

.item {
    &:nth-child(1) {
        grid-area: block1;
    }
    &:nth-child(2) {
        grid-area: block2;
    }
    &:nth-child(3) {
        grid-area: order;
    }
}

.company-new-order {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://downloader.disk.yandex.ru/preview/c666b81d018a85ef5f601c552c8b9ca90950f729652acd378d621f05420ff670/64782816/tm8Kl-UK0-EMg76hLGRjDAkCfAoWj1eSU4sv3EHJOpFBhPVtYj3LYxp2KoQmybrVjkNxENvWoT62QKmXyf48oQ%3D%3D?uid=0&filename=room-template-create-order.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=2048x2048");
    background-size: cover;
    user-select: none;
    cursor: pointer;
    transition: transform .5s linear;

    &:hover {
        transform: scale(1.02);
    }
}

.button-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    @include font-cormorant();
    @include set-icon-color(white);
}
