.block-company-rates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "block1 block2 order";
    gap: 20px;

    @include media-min-max($screen-tablet, 900px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "block1 block2" "order order";
    }
    @include mobile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "block1 block2" "order order";
    }
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "block1 block2" "order order";
    }
}

.item {
    &:nth-child(1) {
        grid-area: block1;
    }
    &:nth-child(2) {
        grid-area: block2;
    }
    &:nth-child(3) {
        grid-area: order;
        position: relative;
    }
}

.company-new-order {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s linear;

    &:hover {
        transform: scale(1.02);
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(0deg, rgba(77, 74, 62, 0.61), rgba(77, 74, 62, 0.61));
    }
}

.button-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    z-index: 2;
    @include font-cormorant();
    @include set-icon-color(white);
}
.bg {
    position: absolute;
    color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
