.block-rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: 0.8s;

    padding: 80px 0;
    
    &.yellow {
        background: var(--yellow);
    }
    &.rose {
        background: var(--rose);
    }
    &.green {
        background: var(--green);
    }
    &.grey {
        background: var(--grey);
    }
    &.blue {
        background: var(--blue);
    }
}

.title {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    /* identical to box height */

    text-transform: uppercase;

    /* dark */

    color: #333027;
}

.room {
    margin-bottom: 80px
}

.room-rose, 
.room-green,
.room-grey {
    max-width: 592px;
}

.room-yellow {
    max-width: 543px;
}