.room-card {
    &.yellow {
        background: var(--yellow);
    }
    &.rose {
        background: var(--rose);
    }
    &.green {
        background: var(--green);
    }
    &.grey {
        background: var(--grey);
    }
    &.blue {
        background: var(--blue);
    }
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    position: relative;
    top: -6px;
}

.name {
    @include text-h3;
    text-transform: capitalize;
    color: #333027;
}

.price {
    @include text-body;
    color: #333027;

    @include mobile {
        font-size: 16px;
        line-height: 22px;
    }
    @include tablet {
        font-size: 18px;
        line-height: 24px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 20px 30px 20px;

    @include mobile {
        padding: 0 10px 30px 10px;
    }
}

.button {
    padding: 0;
    border: none;

    &:hover {
        border: none;
    }

    svg {
        margin-left: 8px;
    }
}

.link {
    @include text-body;
    color: var(--base-akcent);

    @include mobile {
        font-size: 16px;
        line-height: 22px;
    }
    @include tablet {
        font-size: 18px;
        line-height: 24px;
    }
}
