.footer {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.content {
    width: 100%;
    box-sizing: border-box;
    padding: 34px var(--page-safe-area-horizontal);
    border-bottom: 1px solid var(--base-grey);

    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(1, min-content);
    grid-template-areas: "logo socials credits";

    @include mobile {
        padding: 20px var(--page-safe-area-horizontal);
    }

    @include media-min-max(0, 650px) {
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(1, min-content);
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "logo" "socials" "credits";
        grid-row-gap: 20px;
    }
}
.logo {
    grid-area: logo;

    @include media-min-max(0, 650px) {
        height: 100px !important;
        width: 100px !important;
    }
}
.socials {
    grid-area: socials;
}
.credits {
    grid-area: credits;

    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    @include media-min-max(0, 650px) {
        align-items: center;
    }
}

.tel {
    @include font-garamond();
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    text-decoration: none;
    color: var(--base-dark);
}
.address {
    @include font-garamond();
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--base-dark);

    @include mobile {
        text-align: center;
    }
}
.source {
    font-size: 16px;
    margin-top: -20px;
    padding: 0 var(--page-safe-area-horizontal);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    a {
        text-decoration: underline;
        color: var(--base-akcent);
    }

    @include tablet {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    @include mobile {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}

.credentials {
    display: inline-flex;
    flex-direction: column;

    @include mobile {
        align-items: center;
    }
    @include tablet {
        align-items: center;
    }
}

.credentials-item {
    width: fit-content;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        opacity: 0.4;
    }
}
