.block-hero {
    position: relative;
    height: 556px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    overflow: hidden;

    @include mobile {
        height: 445px;
    }
    @include tablet {
        height: 500px;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #E9E1C9;
        z-index: -1;
    }
}
.content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 10px;
}
.title {
    @include text-h1();
    margin: 0;
    color: white;
}
.description {
    @include text-h4();
    margin: 0;
    color: white;
    text-align: center;
}
.actions {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: #e9e1c9;
    width: 110px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.action {
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s linear;

    &:hover {
        background-color: var(--base-akcent);

        & > svg {
            @include fill-svg-and-path(white);
        }
    }

    &.prev {
        right: calc(45px + 15px );
    }
}

.button-order {
    z-index: 2;
    --background-color: #ffffff;
    --background-color-hover: var(--base-akcent);
    --background-color-active: #b9b9b9;
    --color: var(--base-akcent);
    --color-hover: #ffffff;
    --color-active: #ffffff;
    --border-color-hover: transparent;
    --icon-color: var(--base-akcent);
    --icon-color-hover: #ffffff;
    --icon-color-active: #ffffff;
}

.bg-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    background-color: white;
}
.carousel {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        background-color: #e9e1c9;
        width: 110px;
        height: 50px;
        right: 0;
        bottom: 0;
    }

    :global {
        .carousel-slider {
            width: 100%;
            height: 100%;
        }
    }
}
.image {
    object-fit: cover;
}

